@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
}

.dropdown-menu{
    font-size: 12px;
}

.ck-editor__editable{
    min-height: 300px;
}