@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

body {
  font-family: "Inter", sans-serif;
}

.nav-link{
    font-size: .8rem;
    font-weight: 500;
}